body {
  font-family: 'PT Serif', sans-serif;
  margin: 0px;
  color: #2C3E50;
  background-color: #ECF0F1;
  font-size: 1.1em;
}

.nav {
  background-color: #3498DB;
  margin: 0px;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: 'Francois One';
}

.nav-selected {
  padding: 5px;
  color: white;
  font-weight: bold;
  margin-right: 5px;
  font-size: 1.1em;
}

.nav-unselected {
  padding: 5px;
  margin-right: 5px;
  font-size: 1.1em;
}